html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #0b0f1a;;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container img {
    width: 50%;
    max-width: 600px;
    height: auto;
    -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 65%, rgba(0,0,0,0) 100%);
    mask-image: radial-gradient(circle, rgba(0,0,0,1) 65%, rgba(0,0,0,0) 100%);
}
